Repository babylonhealth/ios-playbook, pull requests merged in 2018-11, with the labels that each got.

#5 Release 3.3.0
  CHANGELOG.md
  README.md
  release.md
Labels: Ready for Review 🚀, Release 💥

#11 Release 3.4.0
  release.md
Labels: Release 💥

#4 [Proposal] `Current` alternative to dependency injection.
  TechnicalDocuments/ControlTheWorld.md
  TechnicalDocuments/README.md
  TechnicalDocuments/arch.png
Labels: Proposal 🙈, Ready for Review 🚀

#9 [Style guide] Adds several more sections
  Style-guide/README.md
  Style-guide/screens/indentation.png
  Style-guide/screens/xcode-jump-bar.png
Labels: Ready for Review 🚀
