Repository babylonhealth/ios-playbook, pull requests merged in 2020-09, with the labels that each got.

#397 [PDT-1456] Added screen owner rule to Danger article
  Cookbook/Technical-Documents/DangerRules.md
Labels: Ready for Review 🚀, Trivial

#211 Match UI test with implementation.md
  Cookbook/Proposals/Match UI test with implementation.md
Labels: Proposal 🙈

#172 [Proposal] - Define Mocks and stubs next to the implementation
  Cookbook/Proposals/MocksAndStubsNextToImplementation.md
Labels: Proposal 🙈, Ready for Review 🚀
